@model Aula05.ViewModels.OrderViewModel


@{
    ViewData["Title"] = "Criar Pedido";
}

<div class="text-center">
    <h1>Cadastro de Pedido</h1>

    <div class="container">

        <form id="formCustomer" method="post"
        asp-action="Create"
        asp-controller="Order">

            <div class="row">
                <div class="form-group">
                    <label asp-for="@Model.CustomerId"> 
                        Cliente
                    </label>
                    <select asp for ="@Model.CustomerId">
                        @foreach (var c in Model.Customers)
                        {
                            <opition value="@c.Id"@c.Name></opition>
                        }
                    </select>
                 </div>
            </div>

            <button id="btnCustomer"
                    type="submit"
                    class="btn btn-primary"
                    value="Cadastrar">
                Cadastrar
            </button>

        </form>

    </div>
</div>
